<div class = 'row'>
  <div class = 'large-12 small-12 columns'>
    <h1>Create a new post</h1>
    <%= form_for Post.new do |p| %>
    <label>
      Title
      <%= p.text_field :title, placeholder: 'Post title' %>
    </label>
    <label>
      Body
      <%= p.text_area :body, placeholder: 'Lorem ipsum...' %>
    </label>
    <%= p.submit 'Save post', class: 'button' %>
    <% end %>
  </div><!--12-->
</div><!--row-->
				     
