// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.columns{
  border:solid;
  border-width:2px;
  border-color:#0B3B17
}
.row{
  border-width:5px; 
  border-style:outset;
  border-color:#58ACFA;
}
#profile_pic{
  border:solid;
  border-width:1px;
  display: block;
  margin:auto;
}
